{% load thumbnail pagination_tags %}

<div class="items{% if product %} similar_items{% endif %}">
    {% if catalog %}
        {% if not request.GET.page  or request.GET.page == 1 %}
            {% if category.image %}
                        <div class="carousel_out">
                            <div class="carousel">
                                <ul>
                                    <li>
                                        <div class="carousel_img"><img src="{{ category.image.url }}" alt="" /></div>
                                        <div class="carousel_h">{{ category.title }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div><!--/carousel_out-->
            {% endif %}
            {% if category.description %}
                <div class="text our_shoes_text">
                    <p>{{ category.description }}</p>
                </div>
            {% endif %}
        {% endif %}

        {% autopaginate catalog 90 %}
        {% for item in catalog %}
            <div class="item">
                <div class="item_in parent_blk">
                    <div class="item_img"><a
                            href="{% if category %}/catalog/category/{{ category.slug }}/{{ item.get_short_url }}{% else %}{{ item.get_absolute_url }}{% endif %}" class="product_img">
                        {% thumbnail item.image "120x120" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="margin:{{ im|margin:"120x120" }}" alt="" />
                        {% endthumbnail %}
                    </a></div>
                    <div class="item_price">{{ item.get_str_price }} <span>руб.</span></div>
                    <h3 class="item_name"><a href="{% if category %}/catalog/category/{{ category.slug }}/{{ item.get_short_url }}{% else %}{{ item.get_absolute_url }}{% endif %}">{{ item.title }}</a></h3>
                    {% if item.art %}<div class="item_art">«{{ item.art }}»</div>{% endif %}
                    <a href ="/show_modal_to_cart/?product_id={{ item.id }}" class="item_tocart"></a>
                </div>
            </div>
        {% empty %}

        {% endfor %}
        {% paginate %}
    {% else %}
        {% if not product %}
                {% if category.image %}
                    <div class="carousel_out">
                        <div class="carousel">
                            <ul>
                                <li>
                                    <div class="carousel_img"><img src="{{ category.image.url }}" alt="" /></div>
                                    <div class="carousel_h">{{ category.title }}</div>
                                </li>
                            </ul>
                        </div>
                    </div><!--/carousel_out-->
        {% endif %}
            <div class="item">
                В данной категории пока нет товаров.
            </div>
        {% endif %}
    {% endif %}

    {% if product %}
        <h2>Похожие товары{{ ids }}</h2>
        {% for related_product in product_related_products %}
            <div class="item">
                <div class="item_in parent_blk">
                    <div class="item_img"><a href="{{ related_product.get_absolute_url }}" class="product_img">
                        {% thumbnail related_product.image "120x120" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="margin:{{ im|margin:"120x120" }}" alt="" />
                        {% endthumbnail %}
                    </a></div>
                    <div class="item_price">{{ related_product.get_str_price }} <span>руб.</span></div>
                    <h3 class="item_name"><a href="{{ related_product.get_absolute_url }}">{{ related_product.title }}</a></h3>
                    {% if related_product.art %}
                        <div class="item_art">«{{ related_product.art }}»</div>
                    {% endif %}
                    <a href ="/show_modal_to_cart/?product_id={{ related_product.id }}" class="item_tocart"></a>

                </div>
            </div>
        {% endfor %}
    {% endif %}
</div><!--/items-->