{% load thumbnail %}
<div class="cart_item{% if cart_item.is_deleted %} cart_item_deleted{% endif %}{% if loaded %} loaded{% endif %}" {% if loaded %}style="display: none;"{% endif %}>

    {% if loaded %}
        <input type="hidden" id="cart_str_total" value="{{ cart_str_total }}">
    {% endif %}

    <div class="cart_img">
        {% thumbnail cart_item.product.image "120x120" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="margin:{{ im|margin:"120x120" }}" alt="" />
        {% endthumbnail %}
    </div>
    <div class="cart_des">
        <h3 class="item_name"><a href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.title }}</a></h3>
            <div class="item_art">{% if cart_item.product.art %}«{{ cart_item.product.art }}»{% endif %}</div>
            <div class="item_note"><em>В коробке размеры от {{ cart_item.product.get_min }} до {{ cart_item.product.get_max }}</em></div>
    </div>
    <div class="cart_box col">
        <div class="item_cart_price">{{ cart_item.product.get_str_price_for_box }} <span>руб.</span></div>
        <div class="cart_box_qty">{{ cart_item.product.count }} шт.</div>
    </div>
    <div class="cart_qty">
        <div><input class="btn2 cart_qty_btn" type="button" value="{{ cart_item.count }}" /></div>

        <div class="cart_qty_modal" style="display: none;">
            <h3>Изменить количество</h3>
            <input type="hidden" class="initial_count" value="{{ cart_item.count }}">
            <input type="hidden" class="cart_qty_item_id" value="{{ cart_item.id }}">
            <p><span class="cart_qty_price"><span>{{ cart_item.product.get_str_price_for_box }}</span> руб.</span> × <input class="cart_qty_modal_text" type="text" value="{{ cart_item.count }}"/> = <span class="cart_qty_total_price"><span>{{ cart_item.get_str_total }}</span> руб.</span></p>
            <div><input class="cart_qty_modal_ok" type="button" value="Сохранить" /> <input class="cart_qty_modal_cancel" type="button" value="Отменить" /></div>
        </div>

    </div>
    <div class="cart_price">
        <div class="item_price">{{ cart_item.get_str_total }} <span>руб.</span></div>
        <div class="cart_price_del"><a href="#" class="delete_cart_id" rel="{{ cart_item.id }}">удалить</a></div>
    </div>

    <div class="ci_t"><img src="/media/img/ci_t.png" alt="" /></div>
    <div class="ci_r"><img src="/media/img/ci_r.png" alt="" /></div>
    <div class="ci_b"><img src="/media/img/ci_b.png" alt="" /></div>
    <div class="ci_l"><img src="/media/img/ci_l.png" alt="" /></div>

    <div class="cart_item_restore_fade" {% if not cart_item.is_deleted %}style="display: none;"{% endif %}><input class="btn2 cart_item_restore_btn" type="button" name="{{ cart_item.id }}" value="Вернуть" /></div>
</div>