{% extends "base.html" %}
{% load i18n pages_extras %}

{% block title %}{% trans "Password reset" %} &mdash; {% endblock %}

{% block center_col %}
    {% block_top_h 'Восстановление пароля' %}

    <form class="edit_info_form" method="post" action="{% url auth_password_reset %}">
        <p>Введите адрес, указанный при регистрации, и мы вышлем вам письмо с дальнейшими инструкциями по восстановлению пароля.</p>
        <div class="input input3">
            <label>E-mail</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div><input type="submit" class="btn2 reg_submit" value="Отправить" /></div>
    </form>

{% endblock %}