{% extends "base.html" %}
{% load i18n pages_extras %}

{% block title %}{% trans "Password reset complete" %} &mdash; {% endblock %}

{% block center_col %}
    {% block_top_h 'Восстановление пароля' %}

    <h1 class="rc_dark">{% trans 'Password reset complete' %}</h1>

    <div class="form reg_form">
        <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
        {# <p><a href="{% url auth_login %}">{% trans 'Log in' %}</a></p> #}
        <p><a href="#auth_form" class="fancybox">{% trans 'Log in' %}</a></p>
    </div>

{% endblock %}